*{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100%;
  width: 100%;
  background-color: rgb(198, 197, 197);
}

h1{
  font-size: 4em;
  font-weight: 100;
}

.hotspot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  cursor: pointer;
}

.hotspot:hover {
  transform: scale(1.4);
  box-shadow: 0 0 12px rgba(59, 130, 246, 0.8);
}

/*MODAL*/
.modal {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.3);
  border: none;
  
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  max-width: 500px;
  width: 90%;
  padding: 24px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-meta {
  font-size: 0.9rem;
  color: #666;
}


