*{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100%;
  width: 100%;
  background-color: rgb(198, 197, 197);
}

#hero{
  margin: 5%;
  position: fixed;
  width: 20%;
}

h1{
  font-size: 1.7em;
  font-weight: 100;
}
h2{
  font-size: 1em;
  font-weight: 300;
}

.nunito{
  font-family: "Nunito Sans", sans-serif;
}
.funel{
  font-family: "Funnel Display", sans-serif;
}

.hotspot {
  width: 1em;
  height: 1em;
  border-radius: 10px;
  border: none;
  background-color: blue;
  cursor: pointer;
}

.hotspot:hover {
  transform: scale(1.4);
  box-shadow: 0 0 12px rgba(59, 130, 246, 0.8);
}

/*MODAL*/
.modal {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0);
  border: none;
  
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(14px);

  max-width: 50vw;
  max-height: 80vh;
  padding: 24px;
  border-radius: 12px;
  
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: 15px;

}

.close-modal {
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

.modal-title{
  font-size: 2em;
  font-weight: 500;
}

.modal-meta {
  font-size: 0.9rem;
  color: #666;
}

.cont-img{
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-content img{
  height: 30vh;
  width: auto;
  object-fit: contain;
  width: fit-content;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px){
  .modal-content{
    max-width: 80vw;
  }
}
@media (max-width: 500px){
  .modal-content{
    max-height: 90vh;
  }
  .modal-content img{
    height: 20vh;
  }
  #hero{
    width: 90%;
  }
}

